.education {
  .command {
    font-family: "IBM Plex Mono", monospace;
    color: #e5e5e5;

    .prompt {
      color: #ff0000;
      margin-right: 0.3rem;
    }
  }

  .output {
    margin-left: 1.5rem;
    color: #999;
    font-family: "IBM Plex Mono", monospace;
    line-height: 1.5;

    .label {
      color: #1e90ff;
      font-weight: 600;
      margin-right: 0.3rem;
    }
  }
}
