.projects {
  .command {
    font-family: "IBM Plex Mono", monospace;
    color: #e5e5e5;
    margin-bottom: 0.2rem;

    .prompt {
      color: #ff0000;
      margin-right: 0.3rem;
    }
  }

  .output {
    margin-left: 1.5rem;
    color: #999;
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 0.5rem;

    .project-link {
      color: #ff0000;
      text-decoration: none;
      transition: color 0.3s, text-shadow 0.3s;

      &:hover {
        color: #1e90ff;
        text-shadow: 0 0 5px #1e90ff;
      }
    }
  }
}
